__pycache__/
*.pyc
.env
venv/
.env/
instance/
.DS_Store
*.log
.idea/
.vscode/
# Backups
*.bak

# Env alternativos
config.env
*.env

# Archivos temporales / Office
*.xlsx
*.xls
*.csv

# Imagenes sueltas no usadas (opcional)
*.jfif

