{% extends "base.html" %}
{% block content %}

<h2>Movimientos de Alumnos</h2>

<h3>Entradas (ALTA)</h3>
<table border="1" cellpadding="6" cellspacing="0">
  <tr>
    <th>Fecha</th><th>Alumno</th><th>DNI</th><th>Curso</th><th>Escuela Origen</th>
  </tr>
  {% for m in entradas %}
  <tr>
    <td>{{ m.fecha }}</td>
    <td>{{ m.apellido }}, {{ m.nombre }}</td>
    <td>{{ m.dni }}</td>
    <td>{{ m.curso }}</td>
    <td>{{ m.escuela_origen }}</td>
  </tr>
  {% endfor %}
</table>

<br>

<h3>Cambios de turno</h3>
<table border="1" cellpadding="6" cellspacing="0">
  <tr>
    <th>Fecha</th><th>Alumno</th><th>DNI</th><th>Curso origen</th><th>Curso destino</th>
  </tr>
  {% for m in cambios_turno %}
  <tr>
    <td>{{ m.fecha }}</td>
    <td>{{ m.apellido }}, {{ m.nombre }}</td>
    <td>{{ m.dni }}</td>
    <td>{{ m.curso_origen }}</td>
    <td>{{ m.curso_destino }}</td>
  </tr>
  {% endfor %}
</table>

<br>

<h3>Salidas por pase</h3>
<table border="1" cellpadding="6" cellspacing="0">
  <tr>
    <th>Fecha</th><th>Alumno</th><th>DNI</th><th>Curso</th><th>Destino</th>
  </tr>
  {% for m in pases %}
  <tr>
    <td>{{ m.fecha }}</td>
    <td>{{ m.apellido }}, {{ m.nombre }}</td>
    <td>{{ m.dni }}</td>
    <td>{{ m.curso }}</td>
    <td>{{ m.escuela_destino }}</td>
  </tr>
  {% endfor %}
</table>

<br>

<h3>Egresos</h3>
<table border="1" cellpadding="6" cellspacing="0">
  <tr>
    <th>Fecha</th><th>Alumno</th><th>DNI</th><th>Curso</th><th>Observación</th>
  </tr>
  {% for m in egresos %}
  <tr>
    <td>{{ m.fecha }}</td>
    <td>{{ m.apellido }}, {{ m.nombre }}</td>
    <td>{{ m.dni }}</td>
    <td>{{ m.curso }}</td>
    <td>{{ m.motivo }}</td>
  </tr>
  {% endfor %}
</table>

<br>

<h3>Otras bajas</h3>
<table border="1" cellpadding="6" cellspacing="0">
  <tr>
    <th>Fecha</th><th>Alumno</th><th>DNI</th><th>Curso</th><th>Motivo</th>
  </tr>
  {% for m in otras_bajas %}
  <tr>
    <td>{{ m.fecha }}</td>
    <td>{{ m.apellido }}, {{ m.nombre }}</td>
    <td>{{ m.dni }}</td>
    <td>{{ m.curso }}</td>
    <td>{{ m.motivo }}</td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
